<h1>Editing Movimiento Inventario</h1>

<%= render 'form', movimiento_inventario: @movimiento_inventario %>

<%= link_to 'Show', @movimiento_inventario %> |
<%= link_to 'Back', movimiento_inventarios_path %>
